@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&family=Karla:wght@800&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Karla', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #container {
    display: inline-block;
    max-width: 1200px;
    margin: auto;
    align-content: center;
    align-items: center;
    justify-content: center;
} */

html, body {
    /* height: 550px;
    width: 550px; */
    background-color: #1F2937;
    font-family: 'Inter', sans-serif;
    color: white;
    height: 100vh;
    
    
}


.header-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.header-wrapper h1 {
    font-family: 'Karla', sans-serif;
    color: #FFFFFF;
    font-size: 2em;
    line-height: 40px;
    
}

.header-wrapper p {
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1em;
    margin-top: 0px;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    background-color: #10B981;
    padding: 0.2em 1em;
    border-radius: 5px;
    font-weight: 800;
}

a:hover {
    background-color: black;
    cursor: pointer;
}

body span {
    color: #4ADF86;
}

button {
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: #10B981;
    color: white;
    box-shadow: 0px 1px 2px 0px #0000000D;
    padding: 9px 17px 9px 15px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-bottom: 35px;

}

hr {
    border: 1px solid #2F3E53;
    color: #2F3E53;
    
    margin-top: 1em;
    margin-bottom: 1em;
}

.input-wrapper {
    text-align: center;
}

.field {
    display: inline-block;
    text-align: center;
    width: 211px;
    line-height: 39px;
    background: #273549;
    border-radius: 6px;
    margin-right: 24px;
    color: #55F991;
    border: 0;

}
.field:focus {
    outline: none !important;
    border:1px solid #10B981;
    box-shadow: 0 0 10px #719ECE;
}

footer {
    position: absolute;
    margin-top: 50px;
    padding: 5px;
    text-align: center;
    background-color: #2F3E53;
    line-height: 50px;
    bottom: 0;
    width: 100%;
    
}
